[
    {
        "name" : "Home",
        "path" : "authenticated/redirect.htm",
        "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER", "ROLE_ANONYMOUS"]
    },
    {
        "name" : "Field Guide",
        "path" : "fieldguide/groups.htm",
        "roles" : ["ROLE_ANONYMOUS"]
    },
    {
        "name" : "Sign In",
        "path" : "home.htm?signin=true",
        "roles" : ["ROLE_ANONYMOUS"]
    },
    {
        "name" : "Contribute",
        "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER"],
        "items" : [
                      {
                           "name" : "BulkData",
                           "path" : "bulkdata/bulkdata.htm",
                           "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER"]
                      }
                  ]
    },
    {
        "name" : "Review",
        "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER", "ROLE_ANONYMOUS"],
        "items" : [
                      {
                          "name" : "My Sightings",
                          "path" : "map/mySightings.htm",
                          "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER"]
                      },
                      {