<p>
These are alternate forms that allow for the capture of project 
related data that might not necessarily be taxonomic. A 
Census method may be defined once in the Manage Census Methods 
interface, and applied across several different projects. Setting 
up a census method is similar to setting up a form for a Project.
</p>
