<p>
    Here you can fill out the details of the Census Method you are adding to the system. Census methods allow you to define additional attributes that would be added to your form in addition
    to the attributes setup in your project. Each Census Method will then be available across the entire site, for any Project you are administrating.
</p>
