<p>
    User groups are useful for creating categories of users. These groups can then be used when
    assigning access privileges which is far easier than assigning privileges to users one at a time. 
</p>
