<p>
This is where you can modify the way that your Portal looks, 
by changing the values in the various elements in the table below.  
Changing these values and saving them will immediately change 
the entire web site - please be aware that this may have a major 
effect on the site, so any changes should be tested outside of 
a production site before they are applied.
</p>
