<p>
The BDRS has the ability to create 'widgets' which can be embedded 
in other pages of the BDRS, or on other websites. Here you can 
configure a widget, preview it, and then take the code to embed 
on another page.
</p>