<p>
To record a new sighting, click the "Add Sighting" button below. 
Begin typing the name of the species, for example "Kangaroo", in the species input box. 
As you begin typing, a list of matching species will appear.  
Select your species from the list. Continue clicking the "Add Sighting" button to 
add more rows to the table to record more species.
</p>