<p>
The table below lists the Projects that are set up in this Portal.  
You can work through the setup process by clicking on the "Add Project" 
button, or you can click on the name of the Project to edit it.
</p>