<p>
Here you can change the settings for a Project, 
and when you have finished setting up the Project, 
you will be returned to this screen to check the "Publish"
checkbox to make your Project live in the system.
</p>