<p>
Here you can alter the taxonomy that is able to be chosen for your project, 
either in terms of single species, a few species, a taxonomic group, or every 
species in the Portal. If you need to edit the taxonomy itself, then go to the
<a href="${bdrsContextPath}/bdrs/admin/taxonomy/listing.htm">Edit Taxonomy</a> page.
</p>