<p>
Here you can edit the preferences for your Portal.  
You can make changes to the preferences listed below, 
and then hit the "Save Preferences" button at the bottom
of the page to save your preferences.
</p>