<p>
Here you can email Users or Groups across the Portal.  
By clicking on the "To" button, you gain access to an 
interactive list to pick who you wish to send the email to.  
You can also save your email as a template and re-use it at a 
later date.
</p>