<p>
Here you can view the users who are awaiting approval
for this portal. Click on the "Approve" link in the table below
to approve the user to login to this site. Users will not be able to login 
until an administrator has approved their account.
</p>