<p>
	This page is where you can edit a range of pages throughout the web site.  
	To do this, you select the area you want to change, and then you can modify 
	the text using the editor that is present in the page below.  These changes 
	will be reflected immediately across the web site when you save them.
</p>