<p>
Project Locations are presented to the User as a 
drop down list of sites that they can choose from, 
instead of having to click on the map to define the 
co-ordinates.  This is particularly useful if you 
are monitoring particular sites.  While Users can 
also define their own Locations, you can restrict 
Users to only be able to record from the list you 
set below by checking the box at the bottom. 
</p>