<p>
Here you can filter the Users who have registered for this Portal, 
and then you can click on the “Edit” link in the table below to change 
their details.  The system also allows you to download a list of Users 
once you have filtered them to a Microsoft Excel spreadsheet.
</p>