<p>
    On this page you can create commonly visited locations. By setting up 
    locations through this form, you will be able to simply pick the Location 
    name from a list instead of having to enter co-ordinate information to the 
    form each time you enter a record.
</p>