<p>
    Here you can set up your commonly visited sampling or work locations.  
    By setting up locations through this form, you will be able to simply pick 
    the name from a list instead of having to enter co-ordinate information 
    to the site.  
</p>