<html>
    <body>
        <p>Hi ${userFirstName} ${userLastName},</p>
        
        <p>Someone has made contact with you regarding a <a href="${bdrs.application.url}${viewRecordUrl}">record you have created</a>.</p>
        <p>They have left the following text:</p>
        
        <hr />
        
        <p>${contactText}</p>
    </body>
</html>
