<html>
    <body>
        <p>Hi ${newUser.firstName} ${newUser.lastName}!</p>

        <p>A password reminder was received for your ${bdrs.site.name} registration.</p>
        <p>Your username is: ${newUser.name}</p>
        <p>Your new password is: ${newpassword}</p>
        
        <p>You can log into ${bdrs.site.name} here: <a href="${bdrs.application.url}/home.htm">${bdrs.application.url}/home.htm</a></p>

    </body>
</html>
