<div id="background"></div>

#{if}(${context.user.isRoot()}) 
    <div id="header" class="header root">
#{else}
    <div id="header" class="header">
#{end}
     #{if}(${context.user.isUser()} || ${context.user.isAdmin()})
           <a href="${pageContext.request.contextPath}/authenticated/redirect.htm"></a>
     #{else}
           <a href="${pageContext.request.contextPath}/home.htm"></a>
     #{end}
     <div id="portalName">
         #{if}(!${context.portal})
             Biological Data Recording System
         #{else}
             ${context.portal.name}
         #{end}
     </div>
</div>