<h1>Select a Taxonomic Group</h1>

#if(${taxonGroups.isEmpty()})
<p>
Your portal currently has no species in the Field Guide. Your administrator can change this and add in species manually or import them from the <a href="http://www.ala.org.au/">Atlas of Living Australia</a>.
</p>
#else
<p>
Click on the group name or thumbnail below to get a list of species for that group.
</p>
#end

#foreach ($taxonGroup in ${taxonGroups})
    <div class="left field_guide_group">
        #if(${taxonGroup.thumbNail})
	        <a href="${pageContext.request.contextPath}/fieldguide/taxa.htm?groupId=${taxonGroup.id}">
                <img class="max_size_img" src="${pageContext.request.contextPath}/files/download.htm?${taxonGroup.getThumbnailFileURL()}"/>
	        </a>
        #end
        <div class="textcenter" class="clear">
	        <a href="${pageContext.request.contextPath}/fieldguide/taxa.htm?groupId=${taxonGroup.id}">
	            ${taxonGroup.name}
	        </a>   
        </div>
    </div>
#end
<div class="clear"></div>