<h1>Public Help for ${portalName}</h1>

<h3>Help</h3>
<p>
The <a href="http://code.google.com/p/ala-citizenscience/">Biological Data Recording System</a>, which powers this site, has a range of online help within it, and also within the main Google Code <a href="http://code.google.com/p/ala-citizenscience/">repository</a>.  You can investigate those areas for the most up to date help.  If you are looking for an overview of the software and how to use it, then please check out the User Guide.
</p>

<h3>Getting Started</h3>
<p>
To get started with this system firstly you need to Register.  Some implementations of the BDRS software may not allow for public participation, but if they do, you can access the registration page by clicking <a href="#">here</a>.  Once you have registered, you need to accept the registration with the email that the system will send you, and then you can start using the software.  More information on registering with the site can be found in one of our Youtube videos, located <a href="http://www.youtube.com/watch?v=c0WT2EQ_Xlk">here</a>.
</p>

<p>
Again, if you are looking for an overview of the software and how to use it, then please check out the <a href="#">User Guide</a>.
</p>

<h3>Feedback</h3>
We'd love to hear any feedback about the site, and how you find it. Send general feedback to <INSERT ADMIN CONTACT DETAILS HERE>.