<p>
This page should set out the Privacy Statement for people using your portal.  This should cover such things as your intended use of any data relating to their account, and if you will keep this private or pass it on to other people.
</p>

<p>
This text is the default text on the Privacy Statement page.  In order to change it, your Administrator can log into the system and change it by going to the Admin> Edit Content menu.
</p>