<p>
This page is where you can set up a number of sub-sites under the portal.  At this release of the software, this section is still in development, and relies on a solid understanding of the underlying code.  <span class="boldtext">Changes made in here may break your entire site</span>.  More will be documented on these preferences in coming releases of the software, and in the Google Code repository located <a href="http://code.google.com/p/ala-citizenscience/">here</a>.
</p>