<p>
This page should set out the Terms and Conditions for people using your portal.  This should cover such things as your intended use for the data that people provide, the licences by which you want to operate under, and if you will be providing the data to other parties, such as the Atlas of Living Australia.
</p>
<p>
This text is the default text on the Terms and Conditions page.  In order to change it, your Administrator can log into the system and change it by going to the Admin> Edit Content menu.
</p>