<p>
This functionality allows you to upload files that can then be linked from other parts of the BDRS software.  More will be documented on these preferences in coming releases of the software, and in the Google Code repository located <a href="http://code.google.com/p/ala-citizenscience/">here</a>.
</p>