<p>
The BDRS has the ability to create widgets that can be embedded in other web sites.  At this point in time, the only widget available is for the Latest Statistics, but this will change in subsequent versions.  More will be documented on these preferences in coming releases of the software, and in the Google Code repository located <a href="http://code.google.com/p/ala-citizenscience/">here</a>.
</p>