<html>
    <body>
        <p style="font-weight: bold">An unexpected error occured.</p>
        
        <p><b>User:</b>&nbsp;${user.name}</p>
        <p><b>URL:</b>&nbsp;${requesturi}</p>
        
        <p>Stack trace of the error is:</p>
        <p>${stacktrace}</p>
    </body>
</html>
