[
    {
        "name" : "Home",
        "path" : "authenticated/redirect.htm",
        "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER", "ROLE_ANONYMOUS"]
    },
    {
        "name" : "Field Guide",
        "path" : "fieldguide/groups.htm",
        "roles" : ["ROLE_ANONYMOUS"]
    },
    {
        "name" : "Sign In",
        "path" : "home.htm?signin=true",
        "roles" : ["ROLE_ANONYMOUS"]
    },
    {
        "name" : "Contribute",
        "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER"],
        "items" : [
                      {
                           "name" : "BulkData",
                           "path" : "bulkdata/bulkdata.htm",
                           "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER"]
                      }
                  ]
    },
    {
        "name" : "Review",
        "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER", "ROLE_ANONYMOUS"],
        "items" : [
                      {
                          "name" : "My Sightings",
                          "path" : "map/mySightings.htm",
                          "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER"]
                      },
                      {
                          "name" : "Advanced Review",
                          "path" : "review/sightings/advancedReview.htm",
                          "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER", "ROLE_ANONYMOUS"]
                      }
                  ]
    },
    {
        "name" : "Admin",
        "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER"],
        "items" : [
                      {
                          "name" : "Administration Guide",
                          "path" : "javascript:bdrs.underDev();",
                          "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER"]
                      },
                      {
                          "name" : "Manage People",
                          "path" : "bdrs/admin/managePeople.htm",
                          "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR"],
                          "items" : [
                                         {
                                             "name" : "Approve Users",
                                             "path" : "bdrs/admin/userManagement/approveUsers.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR"]
                                         },
                                         {
                                             "name" : "Edit Users",
                                             "path" : "admin/userSearch.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR"]
                                         },
                                         {
                                             "name" : "Edit Groups",
                                             "path" : "bdrs/admin/group/listing.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR"]
                                         },
                                         {
                                             "name" : "Email Users",
                                             "path" : "admin/emailUsers.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR"]
                                         }
                                    ]
                      },
                      {
                          "name" : "Manage Projects",
                          "path" : "bdrs/admin/manageProjects.htm",
                          "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER"],
                          "items" : [
                                         {
                                             "name" : "Edit Projects",
                                             "path" : "bdrs/admin/survey/listing.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER"]
                                         },
                                         {
                                             "name" : "Manage Census Methods",
                                             "path" : "bdrs/admin/censusMethod/listing.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER"]
                                         }
                                    ]
                      },
                      {
                          "name" : "Manage Data",
                          "path" : "bdrs/admin/manageData.htm",
                          "roles" : ["ROLE_ROOT", "ROLE_ADMIN"],
                          "items" : [
                                         {
                                             "name" : "Data Preferences",
                                             "path" : "javascript:bdrs.underDev();",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN"]
                                         },
                                         {
                                             "name" : "Manage Thresholds",
                                             "path" : "bdrs/admin/threshold/listing.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN"]
                                         },
                                         {
                                             "name" : "Share Data",
                                             "path" : "javascript:bdrs.underDev();",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN"]
                                         },
                                         {
                                             "name" : "Download Data",
                                             "path" : "javascript:bdrs.underDev();",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN"]
                                         },
                                         {
                                             "name" : "Download Species Pages",
                                             "path" : "javascript:bdrs.underDev();",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN"]
                                         }
                                    ]
                      },
                      {
                          "name" : "Manage Portal",
                          "path" : "bdrs/admin/managePortal.htm",
                          "roles" : ["ROLE_ROOT", "ROLE_ADMIN"],
                          "items" : [
                                         {
                                             "name" : "Edit Preferences",
                                             "path" : "bdrs/admin/preference/preference.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN"]
                                         },
                                         {
                                             "name" : "Edit Theme",
                                             "path" : "bdrs/admin/theme/listing.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN"]
                                         },
                                         {
                                             "name" : "Edit Content",
                                             "path" : "admin/editContent.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN"]
                                         },
                                         {
                                             "name" : "Manage Taxonomy",
                                             "path" : "bdrs/admin/manageTaxonomy.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN"]
                                         },
                                         {
                                             "name" : "Manage Maps",
                                             "path" : "bdrs/admin/manageMaps.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN"]
                                         },
                                         {
                                             "name" : "Manage Files",
                                             "path" : "bdrs/user/managedfile/listing.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN"]
                                         },
                                         {
                                             "name" : "Manage Widgets",
                                             "path" : "bdrs/public/embedded/widgetBuilder.htm",
                                             "roles" : ["ROLE_ROOT", "ROLE_ADMIN"]
                                         }
                                    ]
                      },
                      {
                          "name" : "Manage Site",
                          "path" : "bdrs/admin/manageSite.htm",
                          "roles" : ["ROLE_ROOT"],
                          "items" : [
                                         {
                                             "name" : "Manage Portals",
                                             "path" : "bdrs/root/portal/listing.htm",
                                             "roles" : ["ROLE_ROOT"]
                                         },
                                         {
                                             "name" : "Create Test Data",
                                             "path" : "bdrs/admin/testdata/dashboard.htm",
                                             "roles" : ["ROLE_ROOT"]
                                         }
                                    ]
                      }
                  ]
    },
    {
        "name" : "Profile",
        "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER"],
        "items" : [
                      {
                          "name" : "My Profile",
                          "path" : "user/profile.htm",
                          "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER"]
                      },
                      {
                          "name" : "Locations",
                          "path" : "bdrs/location/editUserLocations.htm",
                          "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER"]
                      }
                  ]
    },
    {
        "name" : "About",
        "path" : "about.htm",
        "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER", "ROLE_ANONYMOUS"]
    },
    {
        "name" : "Help",
        "path" : "help.htm",
        "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER", "ROLE_ANONYMOUS"]
    },
    {
        "name" : "Mobile",
        "path" : "mobileSession.htm",
        "roles" : ["ROLE_ROOT", "ROLE_ADMIN", "ROLE_SUPERVISOR", "ROLE_POWER_USER", "ROLE_USER", "ROLE_ANONYMOUS"]
    }
]