<tr>
    <td>
    	{{if (newLocation)}}
            <input type="radio" name="defaultLocationId" value="index_${ index }"/>
		{{else}}
			<input type="radio" name="defaultLocationId" value="id_${id}"
	            {{if (defaultLocation)}}
	                checked="checked"
	            {{/if}}
	        />
		{{/if}}
    </td>
    <td>
    	{{if (newLocation)}}
            <input type="text" name="add_name_${index}" class="validate(required) location_name"  value="${name}" />
            <input type="hidden" name="add_location" value="${index}"/>
		{{else}}
		    <input type="text" name="name_${id}" class="validate(required) location_name" value="${name}"/>
            <input type="hidden" name="location" value="${id}"/>
		{{/if}}
    </td>
    <td>
    	{{if (newLocation)}}
            <input type="text" class="loc_latitude validate(required, range(-90,90))" name="add_latitude_${index}" value="${latitude}" />
        {{else}}
            <input type="text" class="loc_latitude validate(required, range(-90,90))" name="latitude_${id}" value="${latitude}"/>
        {{/if}}
    </td>
    <td>
    	{{if (newLocation)}}
		    <input type="text" class="loc_longitude validate(required, range(-180, 180))" name="add_longitude_${index}" value="${longitude}" />
        {{else}}
            <input type="text" class="loc_longitude validate(required, range(-180, 180))" name="longitude_${id}" value="${longitude}"/>
        {{/if}}
        
        {{if (newLocation)}}
            <input type="hidden" class="loc_wkt" name="add_location_WKT_${index}" value="${wkt}"  />
        {{else}}
            <input type="hidden" class="loc_wkt" name="location_WKT_${id}" value="${wkt}" />
        {{/if}}
    </td>
    <td class="textcenter">
        <a id="delete_${id}" class="loc_delete" href="javascript: void(0);">
            <img src="${bdrsContextPath}/images/icons/delete.png" alt="Delete" class="vertmiddle"/>
        </a>
    </td>
</tr>
